<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Login and Register</title>
</head>
<body>
    <div class="container">
        <img src="/static/img/MamasNight_White_02.png" class="mx-auto d-block" style="max-width:50%;" alt="logo">
        <div class="heading text-center font-monospace fs-4">
            <p>Welcome to Mama's Night</p>
            <p>A place to log the movies you watch</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="indicator">
                    </div>
                    <form action="/login" method="post" id="login_form">
                        <div class=text-danger>
                            {% with messages = get_flashed_messages(category_filter=["login"]) %}
                            <!-- declare a variable called messages -->
                            {% if messages %} <!-- check if there are any messages -->
                            {% for message in messages %} <!-- loop through the messages -->
                            <p>{{message}}</p> <!-- display each message in a paragraph tag -->
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                        <p class="text-white-50 mb-5">Please enter your login and password!</p>
                        <label for="username"> Username:</label>
                        <input type="text" name="username" class="form-control m-1">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" class="form-control m-1">
                        <input type="submit" value="Login" class="btn text-white">
                    </form>
                    <form action="/register" method="post" id="reg_form">
                        <div class=text-danger>
                            {% with messages = get_flashed_messages(category_filter=["register"]) %}
                            <!-- declare a variable called messages -->
                            {% if messages %} <!-- check if there are any messages -->
                            {% for message in messages %} <!-- loop through the messages -->
                            <p>{{message}}</p> <!-- display each message in a paragraph tag -->
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                        <p class="mb-0">Don't have an account?</p>
                        <p class="text-white-50 fw-bold">Sign Up</p>
                    </p>
                    <label for="first_name"> First Name:</label>
                    <input type="text" name="first_name" class="form-control m-1">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" class="form-control m-1">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control m-1">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control m-1">
                    <label for="password">Password:</label>
                    <input type="text" name="password" class="form-control m-1">
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="text" name="confirm_password" class="form-control m-1">
                    <input type="submit" value="Register" class="btn text-white">
                </form>
                </div>
            </div>
        </div>
    </div>

</script>

<!-- js for menu -->
<script>
    var login_from = document.getElementById("login_form");
    var reg_from = document.getElementById("reg_form");
    var indicator = document.getElementById("indicator");

    function register(){
        reg_from.style.transform = "translateX(0px)";
        login_from.style.transform = "translateX(0px)";
        indicator.style.transform = "translateX(100px)";
    }
    function login(){
        reg_from.style.transform = "translateX(300px)";
        login_from.style.transform = "translateX(300px)";
        indicator.style.transform = "translateX(0px)";
    }
</script>



</body>
</html>